header{
    display: inline-block;
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

#clay{
    padding: 0;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav{
  
    width: 40%;   
    float: right;
    text-align: right;
    word-spacing: 20px;  
}

nav a{
    text-decoration: none;
    font-size: 18px;
    color:black;
}

main{
    display: inline-block;
    margin-top: 70px;
    width: 80%;    
    margin-left: 10%;
    margin-right: 10%;
}

#content{
    width: 45%;
    float: left;
    padding: 0;  
   
}

#content a{
    text-decoration: none;
    color:blueviolet;
    padding-top:10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: solid;
    border-color: blueviolet;
    border-radius: 20px;

}

#content a:hover{
    background-color: blueviolet;
    color: white;
    margin-top: 100px;
}

#image{
    width: 55%;
    float: left;
    padding: 0;
}

img{
    width: 90%;
    height: 90%;
}

footer{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 44px;
    
    display: inline-block;
}

footer p{
    text-align: right;
   
}

hr{
    border: solid;
    color: blueviolet;
    width: 21%;
    float: left;
    padding: 0;
    margin-top: -55px;
    
}
#Spacetext {
    font-weight: bold;
    font-size: 65px;
}

h1{
    font-size: 55px;
    padding: 0;
    margin: 0;
}

p{
    text-align: left;
    font-size: 20px;
}

